h1 {
    color: white;
}

/* * {
    border: solid;
} */
h2{
    color: blueviolet;
}
p{
    color: chartreuse;
}
.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}



.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}